.decision {

&__wrapper {
  display: flex;
  justify-content: space-between;
}
&__image {
  width: 32.6rem;
  height: 52.5rem;
}
&__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
&__content {
  width: 37.8rem;
  padding-top: 2.5rem;
}
&__title {
  margin-bottom: 4.4rem;
}
&__info {
  margin-bottom: 2rem;
}
&__button {
  padding: 0.5rem;
  margin-bottom: 5.8rem;
}
&__buttons {
  display: flex;
  justify-content: space-between;
}
&__btn {
  padding: 2rem 3.2rem;
  font-weight: 500;
}
}
@media (max-width: $tablet){
   .decision {
    
    &__image {
      margin-right: -4.5rem;
      &:first-child {
        display: none;
      }
    }
   } 
}
@media (max-width: $mobile){
    .decision {
      position: relative;
      padding-bottom: 18.3rem;
      &__title {
        width: 100%;
        margin-bottom: 3.9rem;
      }
      &__info {
        margin-bottom: 2rem;
      }
      &__content {
        margin-bottom: 2.8rem;
      }
      &__container {
        padding: 0;
      }
      &__wrapper {
        flex-direction: column;
      }
      &__button {
        margin-bottom: 0;
      }
      &__image {
        margin-right: 0;
        width: 100%;
        margin-bottom: 3rem;
      }
      &__content {
        width: 100%;
        padding: 0 1.5rem;
      }
      &__buttons {position: absolute;
        width: 32.6rem;
        bottom: 4.5rem;
        left: 1.5rem;
        flex-wrap: wrap;
      }
      &__btn {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
}
